.betting-form-wrapper {
  backgroundColor: black;
  color: white;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.betting-form-button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
