.video-card {
  height: 60vh;
}

.chat-box {
  height: 90vh;
  background-color: black !important;
}

.twitch-section {
	display: flex;
	justify-content: flex-end;
}

.spinner-section {
  text-align: center;
  margin-top: 30px;
  color: white;
  font-size: 14px;
}
