.bets-open {
  background-color: rgb(68, 176, 111);
}

.bets-closed {
  background-color: black;
  color: white;
}

.bets-open, .bets-closed {
  font-size: 12px;
  text-align: center;
  padding: 10px;
}

